<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="'home'">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>


    </div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="burgerEvent()"
       [ngClass]="{'is-active': toggle}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>

    <div class="navbar-menu" [ngClass]="{'is-active': toggle}">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="'home'">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" [routerLink]="'matematica'">
                    Matematica
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" [routerLink]="'matematica/calcoli-virgola'">
                        Calcoli con la virgola
                    </a>
                    <a class="navbar-item" [routerLink]="'matematica/divisioni'">
                        Divisioni
                    </a>
                    <a class="navbar-item" [routerLink]="'matematica/frazioni'">
                        Frazioni
                    </a>
                    <a class="navbar-item" [routerLink]="'matematica/moltiplicazioni-due-cifre'">
                        Moltiplicazioni a due cifre
                    </a>
                    <a class="navbar-item" [routerLink]="'matematica/moltiplicazioni-virgola'">
                        Moltiplicazioni con la virgola
                    </a>
                    <a class="navbar-item" [routerLink]="'matematica/piu-meno'">
                        Calcoli oltre il mille
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" [routerLink]="'conoscenze-generali'">
                    Conoscenze generali
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" [routerLink]="'conoscenze-generali/leggere-orologio'">
                        Leggere l'orologio
                    </a>
                    <a class="navbar-item" [routerLink]="'conoscenze-generali/misure-lunghezza'">
                        Misure di lunghezza
                    </a>
                    <a class="navbar-item" [routerLink]="'conoscenze-generali/misure-peso'">
                        Misure di peso
                    </a>
                    <a class="navbar-item" [routerLink]="'conoscenze-generali/riconoscere-soldi'">
                        Riconoscere i soldi
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
