<button routerLink="/matematica/calcoli-virgola" routerLinkActive="active">calcoli-virgola</button><br>
<button routerLink="/matematica/divisioni" routerLinkActive="active">divisioni</button><br>
<button routerLink="/matematica/frazioni" routerLinkActive="active">frazioni</button><br>
<button routerLink="/matematica/moltiplicazioni-due-cifre" routerLinkActive="active">moltiplicazioni-due-cifre</button>
<br>
<button routerLink="/matematica/moltiplicazioni-virgola" routerLinkActive="active">moltiplicazioni-virgola</button><br>
<button routerLink="/matematica/piu-meno" routerLinkActive="active">piu-meno</button><br>
<button routerLink="/conoscenzeGenerali/leggere-orologio" routerLinkActive="active">leggere-orologio</button><br>
<button routerLink="/conoscenzeGenerali/misure-lunghezza" routerLinkActive="active">misure-lunghezza</button><br>
<button routerLink="/conoscenzeGenerali/misure-peso" routerLinkActive="active">misure-peso</button><br>
<button routerLink="/conoscenzeGenerali/riconoscere-soldi" routerLinkActive="active">riconoscere-soldi</button><br>
