<div class="container center">
    <h1 class="title is-3" *ngIf="answered && answeredCorrectly">Answer is correct!</h1>
    <h1 class="title is-3" *ngIf="answered && !answeredCorrectly">Answer is wrong!<br>The correct answer
        is {{correctAnswer}}</h1>

    <canvas #canvas width="400" height="400"></canvas>

    <ngx-timepicker-field [controlOnly]="true" [format]="12" [max]="'11:59 am'"
                          [(ngModel)]="pickedTime"></ngx-timepicker-field>

    <br>
    <button class="button is-large is-fullwidth" (click)="check()">Check</button>
    <br>
    <button class="button is-large is-fullwidth" (click)="next()">Next</button>
</div>
