<div class="sep">
  <div class="centered">
    <h1 class="display-3 font-weight-bold">
      Conoscenze generali
    </h1>
  </div>
</div>
<div id="cards_landscape_wrap-2">
  <div class="container w-75">
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1 row-cols-lg-2">
      <div class="col mb-4"  *ngFor="let card of cards">
        <div >
          <a [routerLink]="card.path" routerLinkActive="true">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img [src]="card.image" alt="" />
                </div>
                <div class="text-container">
                  <h6>{{card.title}}</h6>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="wallpaper">
<div class="container">
  <div class="section">
    <div class="row columns is-multiline">
      <div *ngFor="let card of cards" class="column is-5">
        <div class="card" [routerLink]="card.path">
          <div class="card-image">
            <figure class="image is-16by9">
              <img [src]="card.image" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4 no-padding">{{card.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>-->
